html,
body {
    font-family: $font-family;
}

.slate-omnibar {
    .inner {
        padding: 0 1em;
        width: 100%;
    }

    .omnibar-menu {
        padding: 1.5em 3em;
        width: 100%;
    }
}

.visually-hidden {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px;
    position: absolute; 
    margin: -1px;
    overflow: hidden; 
    padding: 0;
    width: 1px; 
}

.x-dock > .x-dock-body {
    // to stop clipping drop shadows, etc. might cause issues...?
    overflow: visible;
}

// TODO below: misc to be organized

.x-html {
    ol {
        margin-left: 1.5em;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
}

a {
    color: $base-color;

    &:hover,
    &:focus {
        color: darken($base-color, 10);
    }

    &:visited {
        color: mix($base-color, #999);
    }
}

.spark-view-headline {
    font-family: Sanchez;
    font-size: x-large;
    margin-bottom: 1em;
    padding-top: .375em;

    + .spark-view-prompt {
        margin-top: -1.25em;
    }
}

.page-wrap {
    padding: 1.5em 7.5%;
}

.content-card {
    background-color: #f9f9f9;
    box-shadow: $card-shadow;
    margin-bottom: 1.5em;
    padding: 1.5em 2.125em;

    &.narrow {
        padding: 1.5em;
    }

    &.flush {
        padding: 0;
    }
}

.content-card-inline {
    @extend .content-card;
    display: inline-block;
    padding: .75em 1.5em;
}

.content-card-separator {
    border: 1px dashed #ccc;
    border-width: 1px 0 0;
    margin: 2em 0 1.5em;
}

.inline-flex-fullwidth-ct {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
}

.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.sidebar-col {
    margin-left: 1.5em;
    width: 18em;

    .kv-list {
        margin: 1.5em 0; //  2.125em;
    }
}

.dated-list {
    
}

.link-list {
    margin-bottom: 1.5em;
}

.link-list-item {
    line-height: 1;

    a {
        display: block;
        font-size: .9em;
        padding: .75em 0;
    }

    + .link-list-item a {
        border-top: 1px dashed #ccc;
    }

    .has-checkboxes & {
        &::before {
            content: '\f096';
            cursor: pointer;
            float: right;
            font-family: FontAwesome;
            margin-left: .5em;
            margin-top: .625em;
            width: 1em;
        }

        &.x-item-selected::before {
            content: '\f046';
        }
    }
}

.dated-list-item {
    & + & {
        border-top: 1px dashed #ccc;
        margin-top: 1.5em;
        padding-top: 1.5em;
    }
}

.dated-list-date {
    font-size: .9em;
    font-weight: bold;
    line-height: 1.5;
}

.spark-qna {
    
}

.spark-qna-item {
    ol, ul {
        margin-left: 1.5em;
    }

    ol li {
        list-style: decimal;
    }

    ul li {
        list-style: disc;
    }
}

.spark-qna-q {
    color: $field-label-color;
    font-size: $field-label-font-size;
    font-weight: $field-label-font-weight;
}

.spark-qna-a {
    margin: .25em 0 1.5em;
}