@-webkit-keyframes load-pulse {
      0% { @include scale(0); opacity: 1; }
    100% { @include scale(1); opacity: 0; }
}

@keyframes load-pulse {
      0% { @include scale(0); opacity: 1; }
    100% { @include scale(1); opacity: 0; }
}

.x-mask {
    background-color: rgba(#eee, .8);
    opacity: 1;
    padding: 1em;

    // styling for SparkTheme.LoadMask
    .load-mask-inner {
        background-color: white;
        border-radius: .5em;
        left: 50%;
        padding: 1em;
        position: absolute;
        @include translateX(-50%);
        top: 2.5em;
        text-align: center;
    }

    .fa {
        -webkit-animation: load-pulse .5s infinite cubic-bezier(0.785, 0.135, 0.150, 0.860);
                animation: load-pulse .5s infinite cubic-bezier(0.785, 0.135, 0.150, 0.860);
        color: $base-color;
        font-size: 2.5em;
    }

    .x-mask-message {
        color: $highlight-color;
        font-size: small;
        font-weight: bold;
        margin-top: .5em;
        position: static;
        text-transform: uppercase;
    }
}