.spark-gps-studentlist-group {
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 5px rgba(black, .1);

    & + & {
        margin-left: 1em;
    }
}

.spark-gps-studentlist {
    .x-title {
        background-color: white;
        border-bottom: 1px solid #999;
        font-size: 15px;
        font-weight: bold;
        padding: .4em .8em;
        text-align: left;

        .count {
            background-color: #a3a610;
            border-radius: 1em;
            color: white;
            float: right;
            font-size: smaller;
            height: 1.625em;
            line-height: 1.625;
            margin-top: .125em;
            min-width: 1.625em;
            padding: 0 .5em;
            text-align: center;
        }
    }

    .x-horizontal > & + & {
        border-left: 1px solid #ccc;
    }
}

.studentlist-item-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
}

.studentlist-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.studentlist-request {
    color: $alert-color;
    flex: 1 0 auto;
    margin-left: .5em;
}

.studentlist-timer {
    color: $highlight-color;
    font-size: smaller;
    margin-left: .5em;
}