.studentlist-add-btn {
    background-color: rgba($base-color, .1);
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: mix($base-color, $color);
    font-size: 14px;
    font-weight: bold;
    height: $studentlist-item-height;
    padding: 1em;

    &:hover,
    &:focus {
        background-color: rgba($base-color, .2);
    }
}

.studentlist-item.x-item-selected {
    .gps-list-selected-icon {
        @include appearance(none);
        background-color: transparent;
        @include background-image(radial-gradient(
            center, closest-side,
            white 75%,
            transparent 75%
        ));
        border: none;
        color: #ccc;
        font-family: FontAwesome;
        vertical-align: middle;
        float: right;

        &::before {
            color: #ccc;
            content: '\f058'; // fa-check-circle
            font-size: 18px;
            line-height: 1;
        }
    }
}