.s2m-modules-editor {
    .split-left {
        border-left: 1px solid #ccc;
        margin-left: 20px;
        padding-left: 40px;
    }
}

.s2m-modules-editor-meta {
    .x-form-text {
        font-size: 1.5em;
    }
}
