.s2m-lessons-multiselector {
    .x-grid-group-hd {
        border-color: $grid-row-cell-border-color;
    }

    .x-grid-group-title {
        color: #666;
    }

    .x-form-trigger-wrap {
        border: 0;
    }

    .x-field-form-focus {
        box-shadow: inset 0 0 0 1px darken($base-color, 12);
    }

    .x-action-col-glyph {
        margin: 0;
    }

    .x-grid-cell-inner-row-numberer {
        background-color: transparent;
        color: $muted-color;
    }

    .x-grid-empty {
        background-color: white;
        font-style: italic;
        font-size: medium;
        padding: 1.25em;
        text-align: center;
    }

    .x-panel-header .x-btn-icon-el {
        opacity: .9;
    }
}

.s2m-lessons-remove-cell {
    .x-grid-cell-inner {
        padding-right: 0;
    }
}

.x-grid-cell-lesson-required-column,
.x-grid-cell-lesson-recommended-column {
    cursor: pointer;

    &:hover {
        .x-grid-checkcolumn {
            transform: scale(1.25);
        }
    }

    .x-grid-checkcolumn {
        background: none;
        color: rgba(black, .15);
        font-family: FontAwesome;
        font-size: 14px;
        line-height: 1;
        text-align: center;

        -webkit-font-smoothing: antialised;
        -moz-osx-font-smoothing: grayscale;
        transition: .5s cubic-bezier(0.075, 0.820, 0.165, 1.000);

        &::before {
            content: '\f069'; // fa-asterisk
            transition: 250ms;
        }
    }

    .x-grid-checkcolumn-checked {
        &::before {
            color: $danger-color;
        }
    }
}

.x-grid-cell-lesson-recommended-column {
    .x-grid-checkcolumn {
        &::before {
            content: '\f02e'; // fa-bookmark
        }
    }

    .x-grid-checkcolumn-checked {
        &::before {
            color: $success-color;
        }
    }
}

.s2m-lessons-multiselector-legend {
    padding: .5em;
    text-align: right;

    .fa-asterisk {
        color: $danger-color;
    }

    .fa-bookmark {
        color: $success-color;
    }
}
