$listitem-border-color:                 transparent;
$listitem-padding:                      dynamic(0.6em 0.9em);
$listitem-pressed-background-color:     dynamic(mix($neutral-light-color, $active-color, 90%));
$listitem-selected-background-color:    dynamic(mix($neutral-light-color, $active-color, 80%));

$itemheader-background-color:           dynamic(#e1e1e1);
$itemheader-font-size:                  dynamic(10px);
$itemheader-padding:                    dynamic(0);