$field-background-color:            dynamic(transparent);

$field-label-background-color:      dynamic(transparent);
$field-label-font-size:             dynamic(.9em);
$field-label-font-weight:           dynamic(bold);
$field-label-padding:               dynamic(0 0 .5em);