$selectfield-trigger-color: dynamic($color);
$selectfield-trigger-font-size: dynamic(.8em);
$selectfield-trigger-icon: dynamic($fa-var-chevron-down $selectfield-trigger-font-size $font-icon-font-family);