.spark-sparkpointsconfig-window {
    background-color: #f5f5f5;
    max-width: none;

    table {
        margin: 0;
    }

    td, th {
        background-color: transparent;
        padding: .25em .5em;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;

        &:first-child {
            text-align: left;
        }
    }

    thead th {
        border: none;
        font-size: .875em;
    }

    thead > tr:first-child th {
        font-size: 1em;
        font-weight: bold;
        padding-bottom: .5em;
        text-align: left;
    }

    .field-control {
        padding: .25em .5em;
    }
}