$base-color:            #00a1b1;
$base-color-dark:       darken($base-color, 12) !default;
$body-background-color: #f5f5f5 !default;
$neutral-color:         #ccc !default;
$color:                 #333 !default;