.s2m-units-navigator {
    border-right: 1px solid $panel-header-border-color;
}

.s2m-treepanel-heading {
    background-color: tint($base-color, 60%);

    .x-tree-icon {
        display: none;
    }

    .x-tree-node-text {
        font-size: .875em;
        font-weight: bold;
        letter-spacing: .01em;
        text-transform: uppercase;
    }
}