$mb-red: #e21a22;

$mb-warm-gray1: #e8e2da;
$mb-warm-gray2: #bab0a5;
$mb-warm-gray3: #a29689;

$mb-cool-gray1: #c8cacb;
$mb-cool-gray2: #706f73;
$mb-cool-gray3: #252425;

$mb-blue-1: #cdeae9;
$mb-blue-2: #99d6da;
$mb-blue-3: #70cad1;
$mb-blue-4: #009fae;

$mb-green-1: #e1e55a;
$mb-green-2: #c1cc22;
$mb-green-3: #a3a40f;

//$base-color: $mb-blue-4;

#dummy-focus-field-triggerWrap {
    border: none;
}

#dummy-focus-field-inputEl {
    height: 1px;
}