.spark-navbar {
    background-color: $base-color;
    border: 1px solid $base-dark-color;
    border-width: 1px 0;
    color: $light-color;
    font-weight: bold;
    padding: 0 .9em 0 7.5%;

    .x-toolbar-inner > .x-button {
        background-color: $base-color;
        border: 1px solid $base-light-color;
        border-width: 0 1px;
        color: white;
        cursor: pointer;
        font-size: medium;
        font-weight: bold;
        margin: 0 0 0 -1px;

        &:hover,
        &:focus,
        &:active,
        &.is-selected {
            background-color: $base-light-color;
            border-color: $base-color;
            color: $color;
        }
    }
}

.spark-navbar-standard-selector {
    background-color: rgba($field-background-color, .9);
    color: $color;

    .x-input-el {
        background: none;
        border: none;
        font-size: 1em;
        min-height: 0;
        padding: .4em;
    }
}

.spark-navbar-timer {
    background-color: rgba($color, .3);
    border-radius: 1em;
    font-size: small;
    letter-spacing: .05em;
    line-height: 1;
    margin-left: 1em;
    padding: .4em .8em;
    text-transform: uppercase;
}