$tab-base-color:            $neutral-color !default;
$tab-base-color-active:     $base-color !default;
$tab-base-color-disabled:   lighten($tab-base-color, 8) !default;
$tab-base-color-over:       lighten($tab-base-color, 4) !default;

$tab-border-color:          $tab-base-color !default;
$tab-border-color-active:   $tab-base-color-active !default;
$tab-font-size:				21px !default;
$tab-font-weight:			$font-weight !default;
$tab-line-height:			24px !default;
$tab-padding:				floor((50px - $tab-line-height) / 2) !default;