.x-list {
    background-color: white;
}

.x-list-header {
    border: 0;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;

    .x-innerhtml {
        padding: 0.6em 1.5em;

        &:empty {
            display: none;
        }
    }
}

.x-list-emptytext {
    @extend .x-grid-emptytext;
}