.teacher-assign-learns-grid {
    .x-toolbar {
        background: #d5d5d5;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        font-family: 'Lato', 'Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
        font-size: large;
        padding: 0.6em;
        border: none;
    }

    .x-dock {
        .x-center {
            position: relative;
        }
    }
}