.x-form-fieldset {
    margin: 0 0 1.5em;

    .x-field {
        border: none;
    }
}

.x-form-fieldset-title {
    font-family: $heading-font-family;
    font-size: 1.25em;
    font-weight: normal;
    margin: 0 0 .5em;

    small {
        font-family: $font-family;
        font-size: 2em/3;
        font-weight: bold;
        margin-left: .5em;
        text-transform: uppercase;
    }
}

.x-field,
.x-form-fieldset {
    + .x-field,
    + .x-form-fieldset {
        margin-top: 1.5em;
    }
}

.composite-field {
    .x-form-fieldset-title {
        color: $field-label-color;
        font-family: $field-label-font-family;
        font-size: $field-label-font-size;
        font-weight: $field-label-font-weight;
    }

    .x-label-align-left > .x-form-label {
        padding: .7em .7em 0 0;
    }

    .x-field + .x-field {
        margin-top: .75em;
    }

    .x-form-fieldset-inner {
        overflow: visible;

        &.x-horizontal {
            .x-field {
                margin-top: 0;
            }
        }
    }
}

.radio-group {
    .x-form-fieldset-title {
        color: inherit;
        font-family: $font-family;
        font-size: .9em;
        font-weight: bold;
    }

    .x-field {
        margin-right: -.75em; // experimental
        margin-top: 0;
    }

    .x-form-label {
        font-size: 1em;
        font-weight: normal;
        margin-top: .5em;
    }
}