.assign-control-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.assign-control-item {
    flex: 1;
    text-align: center;

    .menu-trigger {
        cursor: pointer;

        &:hover,
        &:focus {
            opacity: .8;
        }

        &:active {
            opacity: .6;
        }
    }
}

.assign-control-frame {
    $control-border-color: lighten($color, 10);
    $full-color: darken($active-color, 5);
    $indirect-color: rgba($full-color, .25);

    border: 2px solid $control-border-color;
    border-radius: 1em;
    cursor: pointer;
    height: 1.25em;
    margin: auto;
    width: 1.25em;

    &:hover,
    &:focus {
        background-color: rgba($active-color, .4);
    }

    &:active {
        opacity: .6;
    }

    .assign-control-indicator {
        display: block;
        font-family: FontAwesome;
        font-size: 14px;
        line-height: 1.25;
        margin-left: -.25em;
    }

    .is-full & {
        background-color: $active-color;

        .assign-control-indicator::before {
            // content: '\f111'; // fa-circle
        }
    }

    .is-partial & {
        background-image: -webkit-linear-gradient(to bottom right, $full-color 50%, transparent 50%);
        background-image: linear-gradient(to bottom right, $full-color 50%, transparent 50%);
    }

    .is-indirect & {
        border-color: mix($control-border-color, white, 40%);
    }

    .is-indirect.is-full & {
        background-color: $indirect-color;
    }

    .is-indirect.is-partial & {
        background-image: -webkit-linear-gradient(to bottom right, $indirect-color 50%, transparent 50%);
        background-image: linear-gradient(to bottom right, $indirect-color 50%, transparent 50%);
    }

    .is-empty.is-direct & {
        border-color: darken($active-color, 5);
        border-width: 4px;
    }
}

.assign-control-frame.single-control {
    border-radius: .25em;

    .is-full & {
        .assign-control-indicator::before {
            // content: '\f00c'; // fa-check
        }
    }
}