.spark-sparkpoints-cell {
    .spark-column-value {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .button[action="add-to-queue"] {
        background-color: $slate-add-to-queue-button-color;
        color: white;
        display: none;
        font-weight: bold;
        margin: 0 0 0 .5em;

        &:hover,
        &:focus {
            background-color: lighten($slate-add-to-queue-button-color, 7);
        }

        &:active {
            background-color: darken($slate-add-to-queue-button-color, 7);
        }

        &.is-stuck {
            display: block;
        }
    }

    &:hover,
    &:focus {
        .button[action="add-to-queue"] {
            display: block;
        }
    }
}