.spark-worklist-ct {
    & + & {
        margin-top: 1.5em;
    }
}

.spark-worklist-title {
    font-size: .9em;
    font-weight: bold;
    margin-bottom: .5em;
}

.spark-worklist {
    line-height: 2;
    padding-left: 1.375em;
}

.spark-worklist-item {
    ul > & {
        list-style: square;
    }

    ol > & {
        list-style: decimal;
    }

    &.is-student-submitted {
        &::after {
            color: mix($color, $active-color, 30%);
            content: $fa-var-graduation-cap;
            font-family: FontAwesome;
            margin-left: .5em;
        }
    }
}